body {
    width: 90%; 
    margin-left: auto; 
    margin-right: auto;
    background-color: lightgray;
}
header {
    background-color: lightgray;
    text-align: center;
    font-size: 35px;
    color: black;
    padding: 5px;
}
h2 {
    background-color: darkgrey;
    padding: 5px;
    text-align: left;
    margin: auto;
    font-size: 15px;
}
h4 {
    background-color: lightgray;
    padding: 5px;
    text-align: left;
    margin: auto;
    font-size: 15px;
}
h5 {
    text-align: left;
    font-size: 35px;
}
h6 {
    color: black;
}
h7 {
    color: black;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 5px;
    font-size: 20px;
}
footer {
    background-color:black;
    padding: 10px;
    text-align: center;
    color: white; 
}
a:link {
    color: black;
}
a:visited {
    color: green;
}
a:hover {
    color: red;
}

nav {
    background-color: lightgray;
    padding: 10px;
    float: left;
    width: 20%;
    height: 457px;
}
aside {
    background-color: whitesmoke;
    padding: 10px;
    height: 457px;
    width: auto;
    margin-left: auto;
}
.row {
    background-color: lightblue;
    color: white;
    font-size: 20px;
    

}
.col-3 {
    font-size: 15px;
    color: black;
    border-bottom: 3px solid black;
}
.col-6 {
     font-size: 15px;
     border-bottom: 3px solid black;
} 
.col {
    font-size: 17px;
}
