  
h1 {
	background-color: lightblue;
font-size: 50px;
color: black;
	
}
body {
    background-color: pink;
    color: white;
}
p {
	color: green;
	font-size: 30px;
}
progress {progress-appearance: ring;
	color: black;
	progress-size: 22px;
}
hr {
	size: 30px;
	color: black;
}
